@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --color-dkgreen : #003e29;
  --color-ltgreen : #AD343E;
  --color-gray : #f3f3f3; 
}


* > * {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.tracker-container {
  background-color: var(--color-gray);
  text-align: center;
  /* padding: 4em 0; */
}

.bg-dkgreen {
  background-color: var(--color-dkgreen);
}
.txt-dkgreen {
  color: var(--color-dkgreen);
}

.bg-ltgreen {
  background-color: var(--color-ltgreen);
}
.txt-ltgreen {
  color: var(--color-ltgreen);
}

.bg-gray {
  background-color: var(--color-gray);
}
.txt-gray {
  color: var(--color-gray);
}

.form-input {
  @apply mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md focus:outline-none focus:ring-indigo-500 sm:text-sm;
}

.submit-btn {
  background-color: var(--color-ltgreen);
  color: var(--color-gray);
  border-radius: 5px;
}

.login-container {
  background: linear-gradient(to top right, #333333 0%, #000000 50%, #333333 100%);
  background-size: 400px 400px; /* Adjust size for animation scale */
  animation: animateNoiseGradient 10s ease-in-out infinite alternate;
}

.noise-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("");
  opacity: 0.2; /* Adjust opacity for desired effect */
  animation: animateNoise 5s ease-in-out infinite;
}

@keyframes animateNoiseGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200px 200px;
  }
}

@keyframes animateNoise {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.1;
  }
}



.meal-card{
  width: fit-content;
}
.selct_tag{
  border: 1px solid maroon;
}

.generator_bg{
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: #f7f1f1;
  background-image: radial-gradient(#AD343E 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}

.meal-cards{
  width: 500px;
}
.mealcar_c{
  width: 100%;
}

.aitrainerdiv {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}